asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.0
enum34==1.1.6
futures==3.1.1
gevent==1.2.2
greenlet==0.4.12
hyperlink==17.3.0
idna==2.5
incremental==17.5.0
ipaddress==1.0.18
more-itertools==3.2.0
psycopg2==2.7.1
pyasn1==0.2.3
pyasn1-modules==0.0.9
pycparser==2.18
pyOpenSSL==17.2.0
PyYAML==3.12
requests==2.18.1
service-identity==17.0.0
six==1.10.0
slacker==0.9.50
Twisted==22.10.0
urllib3==1.21.1
zope.interface==4.4.2
